.autocomplete{
    background-color: #1aa94c;
    border-radius: 5px;
}
.drop-area{
    position: absolute;
    background-color: #1aa94cc2;
    border-radius: 5px;
}
.drop-area ul{
    color : rgb(0, 0, 0) !important;
    border-radius: 5px;
    list-style: none;
    margin:0 ;
    padding: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
}

