.profile-pic {
    width: 50%;
    height: auto;
    margin:10px;
    min-width:45vh;
}
.service-pic {
    max-width:90%;
    width: 90%;
    margin-top: 15px;
    height: 200px;
    object-fit: cover;
}
.image-preview {
    margin-bottom: 2%;
    aspect-ratio: 1 / 1;
    width: 300px;
}