.slider {
    height: 80vh;
}

.first-slider{
    height: inherit;
    display: flex;
}
.first-slider .text-content{
    margin: auto;

}
.text-content h1{
    font-size: 50px;
    color:white;
    font-family: cursive;
    font-weight: 900;
}

.text-content h2{
    font-size: 160px;
    color: #ffd80b;
    font-weight: 700;
}

.second-slider{
    height: inherit;
    display: flex;
}

.second-slider .text-content{
    margin: auto;
    text-align:right;
}
@media (max-width: 769px) {
    .slider {
        height: 50vh;
    }
    .text-content h1{
        font-size: 30px;
        color:white;
        font-family: cursive;
        font-weight: 900;
    }
    .text-content h2{
        font-size: 100px;
        color: #ffd80b;
        font-weight: 700;
    }
    
}

@media (max-width: 426px) {
    .slider {
        height: 30vh;
    }
    .text-content h1{
        font-size: 20px;
        color:white;
        font-family: cursive;
        font-weight: 900;
    }
    .text-content h2{
        font-size: 50px;
        color: #ffd80b;
        font-weight: 700;
    }
    
}
