header{
  height: 7vh;
  background-color: #2b2b2b;
  color : white;
  margin-bottom: 1vh;
}

header h1{
  font-size: 25px;
  margin: 0;
  font-weight: 700;
  color : white;
}
.navbar-nav{
  font-size: 20px;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 3px 15px rgb(0 0 0 / 0.2);
}
header .create-account-li{
  background-color: #1aa94b;
  border-radius: 5px;
  color: white !important;
}
header li{
  margin-left: 20px;
  height: 40px;
}

header .sing-in{
  box-sizing:content-box;
  border:1px solid #1aa94b;
  border-radius: 5px;
  
}