.auth-preview-container{
    margin: auto;
    height: 93vh;
    width: 100%;
    position: relative;
}
.auth-preview-container .title{
    text-align: center;
    font-weight: 400;
}
.auth-preview-container .waves{
    position: absolute;
    bottom: 0;
    width: 100vw;
    right: 50%;
    left: 50%;
    transform: translate(-50%,0);
    z-index: -1;
}
.auth-preview-container .auth-preview-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20%; 
    text-align: center; 
    margin: 100px auto;
}

.auth-preview-info .info-block{
    
    margin: auto;
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.info-block .text{
    height: 150px;
    font-style:italic;
}

