@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center content d-flex flex-column flex-column-fluid" >
    <h1 class="display-4">Welcome To PartyMaker Admin</h1>
    <p class="lead">Here you can manage <a asp-page="Suppliers" style="color:#50cd89">Suppliers</a> and <a asp-page="Services" style="color:#50cd89">Services</a> settings.</p>
</div>
